*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.main{
    width:100%;
    height:100vh;
    background:url('1600w-JLofAI27pCg.webp') center center;
    background-size: cover;
}

.overlay{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    /* //justify-content: center; */
    color:white;
    background-color:rgba(0,0,0,0.7);
}
.title{
    margin-top: 10px;
    color:white;
    text-align: center;
    font-size:2.5rem;
}
.col{
    margin: top 30px; 
    width:90%;
    justify-content: center;
    display: flex;
   color: white;
  
}
.col div{
   
    width: 250px;
    text-align: center;
}
input{
    margin-top: 20px;
    width: 50%;
    height:50px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    height: 50px;
    text-align: center;
    border-color: transparent;
    font-size: 30px;
}